# ===============================
# Binary and Relational Operators
# ===============================

In [5]:
# 1. Equal To (==)
a = [1, 2, 30]                 # Create a list of integers
print(type(a))                 # Output: <class 'list'>
print(a)                       # Output: [1, 2, 30]
print(len(a))                  # Output: 3 (number of elements in the list)
print(12 == 12)                # Compare equality → True
print(12 == 13)                # Compare equality → False
print(10 == 5)                 # Compare equality → False

<class 'list'>
[1, 2, 30]
3
True
False
False

In [4]:
# 2. Not Equal To (!=)
print(10 != 5)                 # Check if not equal → True
print(5 != 5)                  # Check if not equal → False

True
False

In [ ]:
# 3. Greater Than, Less Than, and Comparisons
a = 10                         # Assign 10 to variable a
print(a == 5)                  # Equality check → False
print(10 < 5)                  # Less than → False
print(10 >= 5)                 # Greater than or equal to → True
print(10 <= 5)                 # Less than or equal to → False
print(2 <= 5)                  # Less than or equal to → True

# ===============================
# Decision Making (If-Else)
# ===============================

In [ ]:
# 1. Age-Based Classification
age = 51                       # Assign age value
if age < 50:                   # If condition
    print("young")
else:                          
    print("adult")             # Output: adult

In [ ]:
# 2. Nested If-Else for Age Categories
age = 25
if age < 20:
    print("young")
elif age < 30:
    print("mid level")         # Output: mid level
else:
    print("adult")

In [ ]:
# 3. Even or Odd Check
x = 51
if x % 2 == 0:                 # Check divisibility by 2
    print(x, "is an even number")
else:
    print(x, "is an odd number")  # Output: 51 is an odd number

In [ ]:
# 4. Party Age Restriction
x = 11
if x < 18 or x > 60:           # Using OR operator
    print("Going to the party")   # Output: Going to the party
else:
    print("Not going")

In [ ]:
# 5. Party Age Restriction with Input
x = int(input("Enter your age: "))  # Take user input
if x <= 18 or x >= 60:
    print("Welcome to the party")
else:
    print("Sorry!! you do not fit in PM's age criteria")
# Example Inputs:
# 19 → Output: Sorry!! you do not fit in PM's age criteria
# 70 → Output: Welcome to the party

In [ ]:
# 6. Discount Program
shopping_total = 500
if shopping_total >= 5000:
    print("You won a discount voucher of flat 1000 on next purchase")
elif shopping_total >= 2500:
    print("You won a discount voucher of flat 500 on next purchase")
elif shopping_total >= 1000:
    print("You won a discount voucher of flat 100 on next purchase")
else:
    print("OOPS!! no discount for you!!!")  # Output: OOPS!! no discount for you!!!

In [ ]:
# 7. Nested If-Else (World Cup Finals)
world_cups = {2019: ['England', 'New-Zeland'], 
              2015: ["Australia", "New Zeland"], 
              2011: ["India", "Sri Lanka"], 
              2007: ["Australia", "Sri Lanka"], 
              2003: ["Australia", "India"]}
print(world_cups[2019])        # Output: ['England', 'New-Zeland']
year = int(input("Enter year to check India made it to Finals: "))
if year in world_cups:         # Check if year key exists
    if "India" in world_cups[year]:   # Nested condition
        print("India made it to Finals")
    else:
        print("India could not make it to Finals")
else:
    print("World cup wasn't played in", year)

In [ ]:
# 8. Practice: Logical Operators
X = 19
if (X > 10 and X < 15):        # Using AND
    print('YES')
else:
    print('No')                # Output: No

In [ ]:
# 9. Maximum of Three Variables
a = 21
b = 16
c = 20
if (a > b) and (a > c):      # Output: c   
    print("a")
elif (b > a) and (b > c):
    print("b")
else:
    print("c")

In [ ]:
# 10. Grade Output Sequence
score = int(input())           # Take user input
if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
elif score >= 60:
    print('D')
else:
    print('F')
# Inputs: 70, 91, 67, 88 → Outputs: C, A, D, B

In [6]:
# 12. Nested Conditional Logic
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')             # Output: B
    else:
        print('C')
else:
    print('D')

B

In [ ]:
# 13. Check if String Starts with Vowel
input_str = 'analytics'
vowels = 'aeiou'
if input_str[0].lower() in vowels:
    print("YES")               # Output: YES
else:
    print("NO")

# ===============================
# Iteration
# ===============================

In [ ]:
# 1. Iterate Over List
list_1 = [1, 3, 4, 2, 5, 6]
print(len(list_1))             # Output: 6
for i in list_1:
    print(i)                   # Prints each number

In [ ]:
# 2. Iterate Over String
string = "Himachal Pradesh"
for ch in string:
    print(ch, end=":")         # Output: H:i:m:a:c:h:a:l: :P:r:a:d:e:s:h:

In [8]:
# 3. Iterate Over Dictionary (Keys and Values)
students_data = {1: ['Sam', 24], 2: ['Sharma', 25], 3: ['Saina', 26], 4: ['Saif', 24], 5: ['Varun', 27]}
for key, val in students_data.items():
    print(key, val)            # Prints each key-value pair

1 ['Sam', 24]
2 ['Sharma', 25]
3 ['Saina', 26]
4 ['Saif', 24]
5 ['Varun', 27]

In [9]:
# 4. Iterate Over Dictionary Values
for value in students_data.values():
    print(value[0])            # Prints only names

Sam
Sharma
Saina
Saif
Varun

In [ ]:
# 5. Range Function
for i in range(1, 11):
    print(i, end=".")          # Output: 1.2.3.4.5.6.7.8.9.10.
for i in range(1, 11, 3):
    print(i)                   # Output: 1, 4, 7, 10
for i in range(10, 1, -2):
    print(i)                   # Output: 10, 8, 6, 4, 2

In [ ]:
# 6. While Loop with Input
while True:
    ch = input()               # Take input from user
    if ch == "quit":           # Exit loop if 'quit'
        break
    print(ch)                  # Echo input text

In [1]:
# 7. While Loop with Continue
x = 0
while x <= 20:
    x += 3
    if x % 5 == 0:
        continue
    print(x, end=" ")          # Output: 3 6 9 12 18 21

3 6 9 12 18 21

# ===============================
# Comprehensions
# ===============================

In [ ]:
# 1. List Comprehension (Length of Strings)
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages"]
l2 = [len(i) for i in l1]
print(l2)                      # Output: [11, 5, 4, 6, 13]

In [ ]:
# 2. List Comprehension (Title Case)
list_1 = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']
new_list = [items.capitalize() for items in list_1]
print(new_list)                # Output: ['Varma', 'Raj', 'Gupta', 'Sandeep']

In [8]:
# 3. Dictionary Comprehension
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages"]
d = {len(i): i for i in l1}
print(d)                       # Output: {11: 'automobiles', 5: 'Honda', 4: 'Benz', 6: 'Suzuki', 13: 'Morris Garages'}

{11: 'automobiles', 5: 'Honda', 4: 'Benz', 6: 'Suzuki', 14: 'Morris Garages'}

In [9]:
# 4. Set Comprehension (Vowels)
word = "analytics"
vowels = {i for i in word if i in "aeiou"}
print(vowels)                  # Output: {'a', 'i'}

{'a', 'i'}

In [12]:
# 5. List Comprehension (Vowel-Starting Words)
input_list = ['wood', 'old', 'apple', 'big', 'item', 'euphoria']
new_list = [i for i in input_list if i[0].lower() in 'aeiou']
print(new_list)                # Output: ['old', 'apple', 'item', 'euphoria']

['old', 'apple', 'item', 'euphoria']

In [ ]:
# 6. Dictionary Comprehension (Multiples of 3 Cubed)
input_list = list(range(1, 100))
output_dict = {val: val**3 for val in input_list if val % 3 == 0}
print(output_dict)             # Output: {3: 27, 6: 216, 9: 729, ..., 99: 970299}

['old', 'apple', 'item', 'euphoria']

In [ ]:
# 7. Nested List Comprehension
print([i + j for i in "abc" for j in "def"])  # Output: ['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

{3: 27, 6: 216, 9: 729, 12: 1728, 15: 3375, 18: 5832, 21: 9261, 24: 13824, 27: 19683, 30: 27000, 33: 35937, 36: 46656, 39: 59319, 42: 74088, 45: 91125, 48: 110592, 51: 132651, 54: 157464, 57: 185193, 60: 216000, 63: 250047, 66: 287496, 69: 328509, 72: 373248, 75: 421875, 78: 474552, 81: 531441, 84: 592704, 87: 658503, 90: 729000, 93: 804357, 96: 884736, 99: 970299}

In [ ]:
# 8. Dictionary Comprehension (String Multiplication)
d = {x.upper(): x * 3 for x in 'acbd'}
print(d)                       # Output: {'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

# ===============================
# Functions
# ===============================

In [22]:
# 1. Sum of Two Numbers
def sum(a=5, b=5):             # Function with default parameters
    c = a + b
    return c
print(sum(50, 60))             # Output: 110

110

In [ ]:
# 2. Factorial Function
def factorial(n):
    fact = 1
    for i in range(1, n + 1):
        fact *= i
    return fact
print(factorial(4))            # Output: 24 (4 * 3 * 2 * 1)

In [ ]:
# 3. Function with Default Arguments
def func(name="default", age=35, city="Mumbai"):
    print("name:", name)
    print("age:", age)
    print("city:", city)
func("Jane", city="Banglore")
# Output:
# name: Jane
# age: 35
# city: Banglore

In [37]:
# 4. Variable Arguments Function
def var_func(*args):           # *args accepts variable number of arguments
    print(args)
var_func(1, 3, "abc")          # Output: (1, 3, 'abc')

(1, 3, 'abc')

# ===============================
# Lambda Functions
# ===============================

In [ ]:
# 1. Sum of Two Numbers
f = lambda x, y: x + y
print(f(2, 5))                 # Output: 7

In [ ]:
# 2. Even or Odd Check
f = lambda x: "even" if x % 2 == 0 else "odd"
print(f(11))                   # Output: odd

7

In [ ]:
# 3. Greater of Two Numbers
greater = lambda a, b: a if a > b else b
print(greater(9, 31))          # Output: 31

Odd

# ===============================
# Map, Filter, Reduce
# ===============================

In [ ]:
# 1. Map (Uppercase Countries)
countries = ["India", "Japan", "Italy", "France"]
print(list(map(lambda x: x.upper(), countries)))
# Output: ['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

In [ ]:
# 2. Filter (Countries Starting with 'I')
print(list(filter(lambda x: x.startswith("I"), countries)))
# Output: ['India', 'Italy']

In [ ]:
# 3. Reduce (Concatenate Countries)
from functools import reduce
print(reduce(lambda x, y: x + " " + y, countries))
# Output: India Japan Italy France

In [ ]:
# 4. Map (Square Numbers)
L1 = [2, 4, 5]
print(list(map(lambda x: x**2, L1)))          # Output: [4, 16, 25]

In [ ]:
# 5. Filter (Multiples of 3)
my_list = [3, 4, 5, 6, 7, 8, 9]
divby3 = lambda x: x % 3 == 0
print(list(filter(divby3, my_list)))          # Output: [3, 6, 9]

In [46]:
# 6. Count Students Above Age 18
students_data = {1: ['Sam', 15], 2: ['Sharma', 18], 3: ['Saina', 16], 4: ['Saif', 19], 5: ['Varun', 20]}
print(len(list(filter(lambda x: x[1] > 18, students_data.values()))))  # Output: 2

2

# ===============================
# Practice Questions
# ===============================

In [ ]:
# 1. Negative Even Numbers (-100 to 0)
print(list(range(-100, -1, 2)))              # Output: [-100, -98, ..., -2]
print(sorted(set(range(-2, -101, -2))))      # Output: [-100, -98, ..., -2]
l = []                                       # Empty list
for i in range(-100, 0):
    if i % 2 == 0:
        l.append(i)
print(l)

In [ ]:
# 2. List Comprehension (Squares)
n = int(input())                             # Take input
L3 = [i * i for i in range(1, n + 1)]        # Generate squares
print(L3)                                    # Input: 4 → Output: [1, 4, 9, 16]