In [2]:
# 1. String Variable and Printing

name = 12          # Assign the string value 'mike' to variable 'name'
print(name)            # Print the value of 'name' → Output: mike

12

In [3]:
# 2. Checking Variable Type (String)

type(name)             # Check the data type of variable 'name' → Output: <class 'str'>

int

In [ ]:
# 3. Input and Printing (String)

name = input('Enter your name: ')   # Take input from the user and store it in variable 'name'
                                    # Example Input: Vishak Raina

print(name)                         # Print the entered name → Output: Vishak Raina

In [ ]:
# 4. Displaying Input Variable

name    # Display the value stored in variable 'name' (works in interactive environments like Jupyter Notebook)
         # Output: 'Vishak Raina'

In [ ]:
# 5. Checking Variable Type (Input String)

type(name)   # Check the data type of variable 'name'
              # Since input() always returns data as a string → Output: <class 'str'>

In [4]:
# 6. Integer Variable Type Check

a = 10           # Assign the integer value 10 to variable 'a'
type(a)          # Check the data type of 'a' → Output: <class 'int'>

int

In [ ]:
# 7. Float Variable Type Check

a = 10.5         # Assign the float value 10.5 to variable 'a'
type(a)          # Check the data type of 'a' → Output: <class 'float'>

In [1]:
# 8. String Variable (Numeric String) Type Check

a = '10'         # Assign a numeric string '10' to variable 'a'
type(a)          # Check the data type of 'a' → Output: <class 'str'>

str

In [ ]:
# 9. Boolean Variable Type Check

a = True        # Assign the boolean value True to variable 'a'
type(a)         # Check the data type of 'a' → Output: <class 'bool'>

In [ ]:
# 10. List Variable Type Check

a = [10, 15, 20, 25]    # Assign a list of integers to variable 'a'
type(a)                  # Check the data type of 'a' → Output: <class 'list'>

In [ ]:
# 11. Tuple Variable Type Check

a = (10, 20, 30, 40)    # Assign a tuple of integers to variable 'a'
type(a)                  # Check the data type of 'a' → Output: <class 'tuple'>

In [ ]:
# 12. Checking Variable Type (String)

type(name)   # Check the data type of variable 'name' → Output: <class 'str'>

In [ ]:
# 13. Boolean vs String Type Check

a = True       # Assign the boolean value True to variable 'a'
b = 'True'     # Assign the string value 'True' to variable 'b'

print(type(a))  # Check and print the data type of 'a' → Output: <class 'bool'>
print(type(b))  # Check and print the data type of 'b' → Output: <class 'str'>

In [ ]:
# 14. Type Casting (Integer to String)
a = 5                  # Assign integer value 5 to variable 'a'
type(a)                # Check data type of 'a' → Output: <class 'int'>
b = str(a)             # Convert integer 'a' to string → '5'
b                      # Display value of 'b' → Output: '5'

In [5]:
# 15. Type Casting (Float to Integer)
acc = 91.99            # Assign float value 91.99 to variable 'acc'
print(acc)             # Print value of 'acc' → Output: 91.99
print(type(acc))       # Print data type of 'acc' → Output: <class 'float'>
int(acc)               # Convert float to integer → Output: 91

91.99
<class 'float'>

91

In [ ]:
# 16. Type Casting (Integer to Float)
my_age = 33            # Assign integer 33 to 'my_age'
type(my_age)           # Check data type → Output: <class 'int'>
float(my_age)          # Convert integer to float → Output: 33.0

In [ ]:
# 17. Type Casting (Integer to Float)
var = 2
type(var)              # Output: <class 'int'>
var1 = float(var)      # Convert integer to float → 2.0
type(var1)             # Output: <class 'float'>
var1                   # Output: 2.0

In [ ]:
# 18. Type Casting (Float to Integer)
var = 2.9
var_int = int(var)     # Convert float to integer → truncates decimal → 2
print(var_int)         # Output: 2

In [ ]:
# 19. Type Casting (Float to Integer)
int(var)               # Convert float 2.9 to integer → Output: 2

In [6]:
# 20. Type Casting (Integer to String)
var = 2
new_var = str(var)     # Convert integer to string → '2'
new_var                # Output: '2'
type(new_var)          # Output: <class 'str'>

str

In [7]:
# 21. Type Casting (String to Integer)
name = "19"
int(name)              # Convert numeric string to integer → 19

19

In [8]:
# 22. Type Casting (String to Integer)
int("2")               # Convert numeric string "2" to integer → 2

2

In [ ]:
# 23. Type Casting (String to Float to Integer)
var_new = "2.5"
type(var_new)          # Output: <class 'str'>
int(float(var_new))    # Convert string to float then to int → Output: 2

In [11]:
# 24. Type Casting (String to Float)
var_new = "2.5"
var_new_fl = float(var_new)  # Convert string to float → 2.5
int(var_new_fl)              # Convert float to integer → 2

2

In [ ]:
# 25. String Variable Assignment
string_var = 'ABCDEFGH'   # Assign string to variable
string_var                 # Output: 'ABCDEFGH'

In [ ]:
# 26. String Indexing Explanation
string_var = 'HELLO'
# Index mapping: [H:0/-5, E:1/-4, L:2/-3, L:3/-2, O:4/-1]

In [12]:
# 27. String Reassignment
string_var = 'YELLO'      # Reassign string variable

In [ ]:
# 28. String Indexing
string_var[0]             # Access first character → Output: 'Y'

In [17]:
# 29. Invalid String Item Assignment
# string_var[0] = 'H'     # ❌ Raises TypeError: 'str' object does not support item assignment

In [18]:
# 30. String Negative Indexing
string_var[-5]            # Access first character using negative index → Output: 'Y'

'Y'

In [ ]:
# 31. Invalid String Item Assignment
# string_var[0] = 'A'     # ❌ Raises TypeError: 'str' object does not support item assignment

In [ ]:
# 32. String Printing and Indexing
print(string_var)         # Output: YELLO
print(string_var[2])      # Output: L

In [20]:
# 33. Invalid String Item Assignment
# string_var[2] = 't'     # ❌ Raises TypeError: 'str' object does not support item assignment

In [ ]:
# 34. String Reassignment
string_var = 'ABtDEFGH'   # Reassign new string value
string_var                 # Output: 'ABtDEFGH'
type(string_var)           # Output: <class 'str'>

In [ ]:
# 35. Type Casting (Float to Integer to Float)
x = 3.5
float(int(x))             # Convert float to int then back to float → Output: 3.0

In [ ]:
# 36. Type Casting (Float to Integer to Float)
x = 3.5
int(x)                     # Convert float to integer → 3
float(int(x))              # Convert integer back to float → Output: 3.0

In [ ]:
# 37. Variable Assignment (Integer)
vishak = 5               # Assign integer 5 to variable

In [ ]:
# 38. String Variable and Printing
name = 'Saurav'
print(name)                # Output: Saurav

In [ ]:
# 39. String Variable Assignment
str1 = 'HELLO'             # Assign string to variable

In [21]:
# 40. Invalid String Item Assignment
# str1[0] = 'Y'            # ❌ Raises TypeError: 'str' object does not support item assignment

In [ ]:
# 41. String Reassignment
str1 = 'YELLO'
str1                        # Output: 'YELLO'

In [ ]:
# 42. Type Casting (String to Float to Integer)
a = "5.5"
type(a)                     # Output: <class 'str'>
# int(a)                    # ❌ Raises ValueError: invalid literal for int() with base 10: '5.5'
a                           # Output: '5.5'
b = int(float(a))           # Convert string to float then to int → 5
type(b)                     # Output: <class 'int'>

In [ ]:
# 43. Type Casting (String to Integer)
a = "5"
type(a)                     # Output: <class 'str'>
b = int(a)                  # Convert string to integer → 5
b                           # Output: 5