In [ ]:
# 1. Integer Type Check
a = 10                  # Assign integer 10 to variable 'a'
print(type(a))          # Check data type → Output: <class 'int'>

In [3]:
# 2. List Assignment and Type Check
a = [10, 20, 30]        # Assign a list of integers
print(type(a))          # Check data type → Output: <class 'list'>

<class 'list'>

In [5]:
# 3. List Length
len(a)                  # Length of list 'a' → Output: 3

3

In [ ]:
# 4. Mixed List
cust_info = ["Satyajit", 33, "Hong Kong", 12000, 14000, "1GB", 5.5]  # Mixed data types
cust_info               # Display the list
print(cust_info)        # Print the list → Output: ['Satyajit', 33, 'Hong Kong', 12000, 14000, '1GB', 5.5]
print(type(cust_info))  # Check data type → Output: <class 'list'>

3

In [7]:
# 5. Tuple Assignment
cust_info_new = ("Satyajit", 31, "Hong Kong", 12000, 14000, "1GB")  # Assign tuple
type(cust_info_new)     # Output: <class 'tuple'>

tuple

In [10]:
# 6. Tuple without Parentheses
cust_info_tup_new = "Satyajit", 31, "Hong Kong", 12000, 14000, "1GB"  # Parentheses optional
type(cust_info_tup_new)  # Output: <class 'tuple'>

tuple

In [12]:
# 7. Single-Element Tuple
abc = "Satyajit",       # Comma makes it a tuple
type(abc)               # Output: <class 'tuple'>
abc_new = "Satyajit",   # Another single-element tuple
type(abc_new)           # Output: <class 'tuple'>

tuple

In [13]:
# 8. Mixed List
list1 = ["India", 5, "Delhi"]  # Mixed data types
list1                   # Output: ['India', 5, 'Delhi']
type(list1)             # Output: <class 'list'>
print(len(list1))       # Output: 3
print(type(list1))      # Output: <class 'list'>

3
<class 'list'>

In [21]:
# 9. Nested List
list2 = ["India", "Delhi", 5, 10, ["Rajkot", "Chennai"]]  # List within a list
len(list2)             # Output: 5
list2[-3]              # Output: 5
list2[2]               # Output: 5
type(list2[4])         # Output: <class 'list'>
list2[-1][0]           # Output: 'Rajkot'
list2[4]               # Output: ['Rajkot', 'Chennai']
list2[4][0]            # Output: 'Rajkot'

'Rajkot'

In [22]:
# 10. String Slicing within Nested List
a = 'Rajkot'            # Assign string
a[0:3]                  # Slice first 3 characters → Output: 'Raj'
list2[-1][0][-6:-3]     # Slice string within nested list → Output: 'Raj'

'Raj'

In [27]:
# 11. Modifying Nested List
list2 = ["India", "Delhi", 5, 10, ["Rajkot", "Chennai"]]
list2[4][0] = 'Bangalore'  # Change first element of nested list
print(list2)                # Output: ['India', 'Delhi', 5, 10, ['Bangalore', 'Chennai']]

['India', 'Delhi', 5, 10, ['Bangalore', 'Chennai']]

In [32]:
# 12. Nested List Access
list2 = ["India", "Delhi", 5, 10, ["Rajkot", "Chennai"]]
list2[0]                  # Access first element → 'India'
list2[2]                  # Access 3rd element → 5
list2[-3]                 # Access third from end → 5
list2[4]                  # Access nested list → ['Rajkot', 'Chennai']
a = list2[4]              # Assign nested list to variable 'a'
print(a)                  # Output: ['Rajkot', 'Chennai']
print(type(a))            # Output: <class 'list'>
a[0]                      # Access first element of nested list → 'Rajkot'
list2[4][0]               # Same as above → 'Rajkot'
list2[4][-2]              # Negative indexing → 'Rajkot'
list2[-1][0]              # Negative index access → 'Rajkot'
list2[-1][-2]             # Negative index → 'Rajkot'
list2[4][1]               # Access second element → 'Chennai'
list2[-1][1]              # Access second element using negative index → 'Chennai'

['Rajkot', 'Chennai']
<class 'list'>

'Chennai'

In [33]:
# 13. List Modification
list2 = ["India", "Delhi", 5, 10, ["Rajkot", "Chennai"]]
list2[0] = 'Japan'        # Change first element
list2[1] = 'Tokyo'        # Change second element
list2                      # Output: ['Japan', 'Tokyo', 5, 10, ['Rajkot', 'Chennai']]

['Japan', 'Tokyo', 5, 10, ['Rajkot', 'Chennai']]

In [ ]:
# 14. Tuple with Nested List
tuple2 = ('India', 'Delhi', 5, 10, ['Rajkot', 'Chennai'])
tuple2[0]                 # Access first element → 'India'

In [35]:
# 15. List Concatenation
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]
new_list = list1 + list2  # Concatenate lists
print(new_list)            # Output: [1, 2, 3, 4, 5, 6, 7, 8]
len(new_list)              # Output: 8

[1, 2, 3, 4, 5, 6, 7, 8]

8

In [37]:
# 16. Adding Elements to List
list3 = [1, 2, 3, 4]
new_list = list3 + [5, 6]  # Concatenate another list
new_list                    # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [42]:
# 17. Membership Testing
tuple3 = (1, 2, 3, 4)
print(1 in tuple3)         # True
print(5 in tuple3)         # False
list3 = [1, 2, 3, 4]
print(1 in list3)          # True
print(5 in list3)          # False

True
False
True
False

In [45]:
# 18. List Mutability
list1 = ["Maths", "Physics", "Chemistry", "Biology"]
list1[3]                   # Access 4th element → 'Biology'
list1[-1]                  # Access last element → 'Biology'
list1[3] = 'Computer Science'  # Modify 4th element
list1                       # Output: ['Maths', 'Physics', 'Chemistry', 'Computer Science']

['Maths', 'Physics', 'Chemistry', 'Computer Science']

In [ ]:
# 19. Extend Function
list1 = [1, 2, 3, 4]
list1.extend([5, 6, 7, 8])  # Extend list with multiple elements
len(list1)                   # Output: 8
list1                         # Output: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# 20. Append Function
list1 = [1, 2, 3, 4]
list1.append([5, 6])         # Append a single element (list) at end
len(list1)                   # Output: 5
list1                         # Output: [1, 2, 3, 4, [5, 6]]

[1, 2, 3, 4, 4, 6, 7]

In [ ]:
# 21. Delete Command
list1 = [11, 22, 33, 44]
del list1[2]                 # Delete element at index 2
list1                         # Output: [11, 22, 44]
del list1[0:2]               # Delete first two elements
list1                         # Output: [44]

[1, 2, 3, 5, [1, 2]]

In [55]:
# 22. Pop Method
list1 = [11, 22, 33, 44]
list1.pop(2)                 # Remove element at index 2 → 33
list1                         # Output: [11, 22, 44]

[11, 22, 44]

In [ ]:
# 23. Remove Method
list1 = [11, 22, 33, 44, 22]
list1.remove(22)             # Remove first occurrence of 22
list1.remove(22)             # Remove next occurrence
print(list1)                 # Output: [11, 33, 44]

[1, 2, 3, 4]

In [65]:
# 24. Sorting
A = [9, 5, 2, 1, 12, 7]
A.sort()                     # Sort ascending
A                             # Output: [1, 2, 5, 7, 9, 12]
A = [9, 5, 2, 1, 12, 7]
A.sort(reverse=True)          # Sort descending
A                             # Output: [12, 9, 7, 5, 2, 1]

[12, 9, 7, 5, 2, 1]

In [ ]:
# 25. Sort vs Sorted
A = ["Oranges", "Strawberry", "Mango"]
B = A.sort()  # Sorts list in place, returns None
print(A)  # Output: ['Mango','Oranges','Strawberry']
print(B)  # Output: None

A = ["Oranges", "Strawberry", "Mango"]
A.sort()  # Sorts A permanently
A  # Output: ['Mango','Oranges','Strawberry']

A = ["A", "C", "B"]
B = sorted(A)  # Returns new sorted list
print(A)  # Original list unchanged → ['A','C','B']
print(B)  # Output: ['A','B','C']

[7, 6, 6, 5, 2, 1, 1, 1]

In [ ]:
# 26. Shallow Copy
A = ["Oranges", "Strawberry", "Mango"]
B = A  # Both refer to same list
print(B)
print(A)
A.pop()  # Remove last element from A
A  # Output: ['Oranges','Strawberry']
B  # Same output since both share reference

A = ["Oranges", "Strawberry", "Mango"]
B = A[0:3]  # Creates a shallow copy (slice)
print(B)
A.pop()  # Modify A
A  # Output: ['Oranges','Strawberry']
B  # Remains unchanged

['A', 'C', 'B']
['A', 'B', 'C']

In [77]:
# 27. Adding Element to Tuple
tup1 = ('Monty Python', 'British', 1969)
list1 = list(tup1)  # Convert tuple to list
list1.append("Python")  # Add new element
tup2 = tuple(list1)  # Convert back to tuple
print(tup2)  # Output: ('Monty Python','British',1969,'Python')

('Monty Python', 'British', 1969, 'Python')

In [81]:
# 28. Tuple Concatenation
tuple_new = ('Monty Python', 'British', 1969)
a = 'Python'
tuple_new2 = tuple_new + (a,)  # Add single element (with comma)
tuple_new2  # Output: ('Monty Python','British',1969,'Python')
type(tuple_new2)  # Output: <class 'tuple'>

tuple

In [82]:
# 29. String Splitting
input_str = 'Kumar_Ravi_003'
str1 = input_str[0:5]  # 'Kumar'
str2 = input_str[6:10]  # 'Ravi'
str3 = input_str[11:]  # '003'
print(input_str[6:10])  # Output: Ravi
print(input_str[0:5])  # Output: Kumar
print(input_str[-3:])  # Output: 003
list1 = input_str.split('_')  # Split using '_'
print(list1[1])  # Output: Ravi
print(list1[0])  # Output: Kumar
print(list1[2])  # Output: 003

Ravi
Kumar
003
Ravi
Kumar
003

In [ ]:
# 30. Nested List Operations
input_list = [['SAS', 'R'], ['Tableau', 'SQL'], ['Python', 'Java']]
input_list[-1][0]  # Output: 'Python'
input_list[2][0]  # Output: 'Python'
input_list[1][0] = 'Power BI'  # Modify inner list
input_list  # [['SAS','R'],['Power BI','SQL'],['Python','Java']]
input_list.extend(["C", "C++"])  # Add extra elements
input_list  # Output: [['SAS','R'],['Power BI','SQL'],['Python','Java'],'C','C++']

'Ravi'

In [94]:
# 31. Replace Element in List
input_list = ['SAS', 'R', 'PYTHON', 'SPSS']
input_list[3] = 'SPARK'  # Replace last element
input_list  # ['SAS','R','PYTHON','SPARK']

input_list = ['SAS', 'R', 'PYTHON', 'SPSS']
input_list.remove('SPSS')  # Remove specific element
input_list.append('SPARK')  # Add new element
input_list  # ['SAS','R','PYTHON','SPARK']

input_list = ['SAS', 'R', 'PYTHON', 'SPSS']
input_list[-1] = 'SPARK'  # Replace last element directly
print(input_list)  # Output: ['SAS','R','PYTHON','SPARK']

['SAS', 'R', 'PYTHON', 'SPARK']

In [ ]:
# 32. Join List to String
input_list = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
result = ' & '.join(input_list)  # Join list with separator
print(result)  # Output: Pythons syntax is easy to learn & Pythons syntax is very clear

['SAS', 'R', 'PYTHON', 'SPARK']

In [ ]:
# 33. Questions Section
# Q1: Indexing from End
list_1 = [2, 33, 222, 14, 25]
list_1[-5]  # Output: 2 → first element from end (same as list_1[0])

In [96]:
# Q2: Clear List
word = ['1', '2', '3', '4']
word[:] = []  # Clears all elements
print(word)  # Output: []

[]

In [102]:
# Q3: Sorted List 
L = ['one', 'two', 'three', 'four', 'five', 'six'] 
print(sorted(L))  # Returns a new sorted list 
print(L)  # Original list remains unchanged

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']