In [ ]:
# 1. List to Set Conversion (Removing Duplicates)
list1 = [1, 2, 3, 4, 5, 6, 5, 7, 2, 2, 2, 3]  # List with duplicate elements
print(type(list1))  # Output: <class 'list'> - It's a list
print(len(list1))  # Output: 12 - Total elements including duplicates
set_1 = set(list1)  # Convert list to set, removes duplicates automatically
print(len(set_1))  # Output: 7 - Only unique elements remain
print(set_1)  # Output: {1, 2, 3, 4, 5, 6, 7} - Unordered collection of unique elements

In [17]:
# 2. Unique Grades from List
list_2 = ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'D', 'E']  # List with repeated grades
set_2 = set(list_2)  # Convert to set to keep only unique grades
print(len(set_2))  # Output: 5 - Total unique grade values
print(set_2)  # Output: {'A', 'B', 'C', 'D', 'E'} - Duplicates removed

5
{'E', 'B', 'A', 'D', 'C'}

In [ ]:
# 3. Indexing Not Supported
# set_2[0]  # Raises: TypeError: 'set' object is not subscriptable - Sets don’t support indexing or slicing

In [ ]:
# 4. Set from List with Duplicates
list1 = [1, 2, 3, 4, 5, 5, 5, 5, 5, 5]  # List with many duplicate elements
set_1 = set(list1)  # Convert list to set to remove duplicates
print(set_1)  # Output: {1, 2, 3, 4, 5} - Each value appears only once

In [ ]:
# 5. Defining a Set
set_3 = {1, 2, 3, 4, 4, 7, 6, 8}  # Defining a set directly, duplicates are ignored
print(set_3)  # Output: {1, 2, 3, 4, 6, 7, 8}
set_4 = set({})  # Create an empty set using the set() constructor
print(type(set_4))  # Output: <class 'set'> - Confirm it’s a set
print(set_4)  # Output: set() - Empty set

In [28]:
# 6. Adding Elements to Set
set_2 = {1, 2, 3, 4, 5}  # Initialize a set
print(len(set_2))  # Output: 5 - Initial count
set_2.add("India")  # Add a string element
print(len(set_2))  # Output: 6 - Count increases
print(set_2)  # Output: {1, 2, 3, 4, 5, 'India'}
set_2.add(5.5)  # Add a float element
print(set_2)  # Output: {1, 2, 3, 4, 5, 5.5, 'India'}
set_2.add("India")  # Add duplicate element, no change occurs
print(set_2)  # Output: {1, 2, 3, 4, 5, 5.5, 'India'}

5
6
{1, 2, 3, 4, 5, 'India'}
{1, 2, 3, 4, 5, 5.5, 'India'}
{1, 2, 3, 4, 5, 5.5, 'India'}

In [ ]:
# 7. Removing Elements from Set
set_2 = {1, 2, 3, 4, 5}  # Create a set
set_2.add("India")  # Add a new element
print(set_2)  # Output: {1, 2, 3, 4, 5, 'India'}
set_2.remove("India")  # Remove the element from set
print(set_2)  # Output: {1, 2, 3, 4, 5}
# set_2.remove("India")  # Raises KeyError: 'India' - if trying to remove a non-existent element

5
{1, 2, 3, 4, 5, 'India'}
{1, 2, 3, 4, 5, 5.5, 'India'}

{1, 2, 3, 4, 5, 5.5, 'India'}

In [54]:
# 8. Set Operations
A = {0, 2, 4, 6, 8}  # Define first set
B = {1, 2, 3, 4, 5}  # Define second set
print(A | B)  # Output: {0, 1, 2, 3, 4, 5, 6, 8} - Union using '|'
print(A.union(B))  # Output: {0, 1, 2, 3, 4, 5, 6, 8} - Union using method
print(A & B)  # Output: {2, 4} - Intersection using '&'
print(A.intersection(B))  # Output: {2, 4} - Intersection using method
print(A - B)  # Output: {0, 6, 8} - Elements only in A
print(A.difference(B))  # Output: {0, 6, 8} - Same as above using method
print(A ^ B)  # Output: {0, 1, 3, 5, 6, 8} - Symmetric difference (elements not common)

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}
{2, 4}
{2, 4}
{0, 8, 6}
{0, 8, 6}
{0, 1, 3, 5, 6, 8}

In [40]:
# 9. Why Use Sets (Distinct Grades)
Grades = ["A", "A", "B", "C", "D", "B", "B", "C", "D", "E", "C", "C", "A", "B", "F", "D", "C", "B", "C", "A", "B", "F", "B", "A", "E", "B", "B", "C", "D"]
print(set(Grades))  # Output: {'A', 'B', 'C', 'D', 'E', 'F'} - Get unique grades only

{'E', 'F', 'B', 'A', 'D', 'C'}

In [48]:
# 10. Finding Common Elements (Sorted)
A = [5, 1, 3, 4, 4, 5, 6, 7]  # List A with duplicates
B = [3, 3, 5, 5, 1, 7, 2]  # List B with duplicates
list1 = set(A) & set(B)  # Intersection of sets
print(list1)  # Output: {1, 3, 5, 7}
print(sorted(list1))  # Output: [1, 3, 5, 7] - Sorted list of common elements
list_1 = [5, 1, 3, 4, 4, 5, 6, 7]
list_2 = [3, 3, 5, 5, 1, 7, 2]
list1_as_set = set(list_1)  # Convert list_1 to set
i = list1_as_set.intersection(list_2)  # Find intersection with list_2
print(list(i))  # Output: [1, 3, 5, 7]

{1, 3, 5, 7}
[1, 3, 5, 7]
[1, 3, 5, 7]

In [53]:
# 11. Set Length with Duplicates
nums = set([1, 1, 2, 3, 3, 3, 4])  # Convert list with duplicates to set
print(len(nums))  # Output: 4 - Unique elements only

4

In [52]:
# 12. Set Operations (Union and Difference)
A = {1, 2, 3, 4, 5, 6}  # Define first set
B = {0, 1, 2, 10, 11}  # Define second set
print(A.intersection(B))  # Output: {1, 2} - Common elements
print(A.union(B))  # Output: {0, 1, 2, 3, 4, 5, 6, 10, 11} - All unique elements
print((A.union(B)).difference(A.intersection(B)))  # Output: {0, 3, 4, 5, 6, 10, 11} - Elements not common to both sets

{1, 2}
{0, 1, 2, 3, 4, 5, 6, 10, 11}
{0, 3, 4, 5, 6, 10, 11}