In [ ]:
# 1. List vs Tuple Definition
list_a = [1, 2, 3, 4]
print(type(list_a))  # Output: <class 'list'>
t = (1, 2, 3, 4)
print(type(t))  # Output: <class 'tuple'>
t2 = 1, 2, 3, 4
print(type(t2))  # Output: <class 'tuple'>

In [ ]:
# 2. Single-Element Tuple
new_t = (5,)                              # Single-element tuple must have a trailing comma
print(type(new_t))                        # Output: <class 'tuple'>

t3 = 1,                                   # Tuple created without parentheses (still valid)
print(type(t3))                           # Output: <class 'tuple'>

t4 = 1                                    # Without a comma, this is an integer
print(type(t4))                           # Output: <class 'int'>

t5 = (1)                                  # Parentheses without comma = integer
print(type(t5))                           # Output: <class 'int'>

In [5]:
# 3. Mixed Tuple and Length
t = ('hello', 5, 5.5)                     # Tuple with string, int, and float
print(t)                                  # Output: ('hello', 5, 5.5)
print(len(t))                             # Output: 3

('hello', 5, 5.5)
3

In [7]:
# 4. String Slicing within Tuple
t = ('hello', 5, 5.5)                     # Define tuple again
print(t[0][0:2])                          # Slice first element ('hello') → Output: 'he'

he

In [10]:
# 5. Nested Tuple
nested_tup = (1, 2, 3, (4, 5))            # Tuple inside another tuple
print(len(nested_tup))                    # Output: 4
print(type(nested_tup[3]))                # Output: <class 'tuple'>
print(nested_tup[-1][1])                  # Access last tuple’s second element → Output: 5
print(nested_tup[3][1])                   # Access same element → Output: 5
print(nested_tup[-2:])                    # Slice last 2 elements → Output: (3, (4, 5))
print(nested_tup[1:3])                    # Slice from index 1 to 2 → Output: (2, 3)

4
<class 'tuple'>
5
5
(3, (4, 5))
(2, 3)

In [17]:
# 6. Tuple with Nested List
t1 = ('hello', 5, 5.5, [2, 3, 4])         # Tuple with a list inside
print(len(t1))                            # Output: 4
print(type(t1[3]))                        # Fourth element is a list → Output: <class 'list'>
var = t1[3]                               # Assign the list to 'var'
print(var)                                # Output: [2, 3, 4]
print(var[1])                             # Access second list element → Output: 3
print(t1[3][1])                           # Same as above → Output: 3

4
<class 'list'>
[2, 3, 4]
3
3

In [ ]:
# 7. Tuple without Parentheses
t1 = 1, 2, 3, 4, 5                        # Tuple defined without parentheses
print(t1)                                 # Output: (1, 2, 3, 4, 5)
print(type(t1))                           # Output: <class 'tuple'>

t1 = 1.2,                                 # Single-element tuple → requires comma
print(type(t1))                           # Output: <class 'tuple'>

t2 = 1.2                                  # Without comma → float value
print(type(t2))                           # Output: <class 'float'>
print(len(t1))                            # Output: 1

3

In [ ]:
# 8. Indexing in Tuple
t = ("Mumbai", 10, "Python", 100)         # Tuple with mixed data
print(t[0][0:3] + t[2][0:2])              # Slice and concatenate → Output: 'MumPy'
print(len(t))                             # Output: 4
print(t[2:])                              # Slice from index 2 → Output: ('Python', 100)
print(t[0])                               # Access first element → Output: 'Mumbai'
print(t[1])                               # Access second element → Output: 10

tuple

In [ ]:
# 9. Slicing
t = ("Mumbai", 10, "Python", 100, "Delhi")  # Tuple with multiple items
print(t[0:2])                              # Slice 0 to 1 → Output: ('Mumbai', 10)
print(t[2:4])                              # Slice 2 to 3 → Output: ('Python', 100)
print(t[-2:])                              # Slice last 2 elements → Output: (100, 'Delhi')
print(t[2:])                               # Slice from index 2 → Output: ('Python', 100, 'Delhi')

MumPy

In [ ]:
# 10. String Slicing Comparison
str1 = "HELLO WORLD"                       # Define a string
print(str1[6:])                            # Slice from index 6 → Output: 'WORLD'

In [ ]:
# 11. Concatenation
list1 = [1, 2, 3, 4]                       # First list
list2 = [11, 12, 13, 14]                   # Second list
list3 = list1 + list2                      # Concatenate both lists
print(list3)                               # Output: [1, 2, 3, 4, 11, 12, 13, 14]

tup1 = ("welcome", "to", "today's")        # First tuple
tup2 = ("class", "on", "python")           # Second tuple
tup3 = tup1 + tup2                         # Concatenate both tuples
print(tup3)                                # Output: ('welcome', 'to', "today's", 'class', 'on', 'python')
print(len(tup3))                           # Output: 6

WORLD

In [37]:
# 12. Min, Max, Sum Functions
list1 = [2, 3, 4, 5, 6, 8]                 # Define a list
print(max(list1))                          # Output: 8

tuple1 = (2, 3, 4, 5, 6, 8)                # Define a tuple
print(max(tuple1))                         # Output: 8
print(sum(tuple1))                         # Output: 28
print(min(tuple1))                         # Output: 2

t = (5.5, 4.2, 5, 9)                       # Mixed numeric tuple
print(max(t))                              # Output: 9

8
8
28
2
9

In [41]:
# 13. Nested Tuple Access
tuple1 = (1, 2, 3, 4, "hello", "world", (1, 2, 3))  # Tuple containing nested tuple
print(len(tuple1))                         # Output: 7
print(tuple1[6][1])                        # Access nested tuple element → Output: 2
print(tuple1[-1][-2])                      # Access via negative index → Output: 2

7
2
2

In [42]:
# 14. Immutability
list_1 = ["Bio", "Chem", "Phy", "Math"]    # Define a list
list_1[0] = "Comp Sc"                      # Modify first element
print(list_1)                              # Output: ['Comp Sc', 'Chem', 'Phy', 'Math']

tuple1_1 = ("Bio", "Chem", "Phy", "Math")  # Define a tuple
# tuple1_1[0] = "Comp Sc"                  # Raises TypeError: tuples are immutable

['Comp Sc', 'Chem', 'Phy', 'Math']

In [ ]:
# 15. Updating Tuple via Concatenation
t = ("Hello!!", "Welcome", 5, 10, "world", "of", "Analytics!!")  # Define tuple
new_tuple = t[0:2] + ("to", "the") + t[-3:]                      # Create new tuple by concatenation
print(new_tuple)                                                 # Output: ('Hello!!', 'Welcome', 'to', 'the', 'world', 'of', 'Analytics!!')

In [ ]:
# 16. Accessing Elements in Tuple
t = ("disco", 12, 4.5)                    # Define a tuple
print(t[0][2])                            # Access third letter of 'disco' → Output: 's'
print(t[0][-3])                           # Access same letter using negative index → Output: 's'
print(t[-3][-3])                          # Using two negatives → Output: 's'
print(t[-3][2])                           # Another access pattern → Output: 's'

('Hello!!', 'Welcome', 'to', 'the', 'world', 'of', 'Analytics!!')

In [ ]:
# 17. Updating Tuple via Type Casting
tup = (1, 2, 3, 55)                        # Original tuple
list_a = list(tup)                         # Convert tuple to list
list_a[-1] = 4                             # Modify last element
tup = tuple(list_a)                        # Convert back to tuple
print(tup)                                 # Output: (1, 2, 3, 4)

's'

In [ ]:
# 18. Sorting Tuple
t = (2, 3, 8, 5, 4, 1)                     # Define tuple
new_var = sorted(t)                        # Sort tuple elements (returns list)
print(new_var)                             # Output: [1, 2, 3, 4, 5, 8]
print(type(new_var))                       # Output: <class 'list'>

t2 = tuple(new_var)                        # Convert sorted list back to tuple
print(t2)                                  # Output: (1, 2, 3, 4, 5, 8)

(1, 2, 3, 66)

In [ ]:
# 19. Nested Tuple Access
t = (1, 5, "Hello", "World", ("Java", "Python"))  # Tuple with nested tuple
print(t[4][0])                        # Access first item of nested tuple → Output: 'Java'
print(t[4][-2])                       # Access same using negative index → Output: 'Java'
print(t[-1][-2])                      # Access using double negative index → Output: 'Java'
print(t[-1][0])                       # Access first element again → Output: 'Java'

(1, 2, 3, 4, 5, 8)

In [56]:
# 20. Tuple with Nested List
tuple2 = ("India", "Delhi", 5, 10, ["Rajkot", "Chennai"])  # Tuple with list
print(tuple2[4][0])                   # Access first element of nested list → Output: 'Rajkot'

Rajkot

In [ ]:
# 21. Sorting Tuple (Descending)
tuple1 = (1, 2, 55, 4, 19, 22)         # Define tuple
list1 = sorted(tuple1, reverse=True)   # Sort in descending order
tuple2 = tuple(list1)                  # Convert list back to tuple
print(tuple2)                          # Output: (55, 22, 19, 4, 2, 1)

In [59]:
# 22. Questions / Edge Cases

# Q1: Index Out of Bounds
t = (1, 2, 4, 3)
# t[4]                               # Raises IndexError: tuple index out of range

# Q2: Tuple Declarations
x = ('2')                             # Parentheses without comma = string
print(type(x))                        # Output: <class 'str'>

x = 1, 2,                             # Comma makes it a tuple
print(type(x))                        # Output: <class 'tuple'>

x = ((1, 2, 3), 4, 5)                 # Nested tuple structure
print(type(x))                        # Output: <class 'tuple'>

# x = (Hello, '2', '3')              # Raises NameError (Hello undefined)

<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
# 23. Updating Tuple via List Conversion
tuple1_1 = ("Bio", "Chem", "Phy", "Math")  # Define tuple
new_tup1 = "Comp Sc",                      # Create single-element tuple
print(new_tup1 + tuple1_1[1:])             # Concatenate → Output: ('Comp Sc', 'Chem', 'Phy', 'Math')

list1 = list(tuple1_1)                     # Convert tuple to list
list1[0] = "Comp Sc"                       # Modify element
tup1 = tuple(list1)                        # Convert list back to tuple
print(tup1)                                # Output: ('Comp Sc', 'Chem', 'Phy', 'Math')