In [ ]:
# 1. Basic Variable Assignment and Printing

x = 10                # Assign the integer value 10 to variable 'x'
print(x)              # Print the value of 'x' → Output: 10

10

In [ ]:
# 2. Checking Variable Type

type(x)               # Check the data type of variable 'x' → Output: <class 'int'>
print(type(x))        # Print the data type of 'x' → Output: <class 'int'>

<class 'int'>

In [ ]:
# 3. Variable Assignment and Printing Integer

x = 10                # Assign the integer value 10 to variable 'x'
print(x)              # Print the value of 'x' → Output: 10
print(type(x))        # Print the data type of 'x' → Output: <class 'int'>

10
<class 'int'>

In [ ]:
# 4. Variable Assignment and Printing Integer

my_age = 33           # Assign the integer value 33 to variable 'my_age'
my_age                 # Display the value of 'my_age' in interactive environments → Output: 33
print(my_age)         # Print the value of 'my_age' → Output: 33
type(my_age)          # Check the data type of 'my_age' → Output: <class 'int'>

33

int

In [ ]:
# 5. Variable Assignment and Type (String)

text = "Hi, My name is Vishak Raina"   # Assign a string value to the variable 'text'
print(type(text))                       # Print the data type of 'text' → Output: <class 'str'>

<class 'str'>

In [ ]:
# 6. Variable Assignment and Type (String)

my_country = "India"       # Assign the string value "India" to variable 'my_country'
my_country                  # Display the value of 'my_country' in interactive environments → Output: India
type(my_country)            # Check the data type of 'my_country' → Output: <class 'str'>

str

In [ ]:
# 7. Variable Assignment and Type (String with Different Name)

text = "How are you"     # Assign the string value "How are you" to variable 'text'
print(text)              # Print the value of 'text' → Output: How are you
type(text)               # Check the data type of 'text' → Output: <class 'str'>

How are you

str

In [ ]:
# 8. Variable Assignment and Type (String with Different Name)

my_name2 = 'Vishak Raina'   # Assign the string value 'Vishak Raina' to variable 'my_name2'
my_name2                     # Display the value of 'my_name2' in interactive environments → Output: Vishak Raina
type(my_name2)               # Check the data type of 'my_name2' → Output: <class 'str'>

str

In [ ]:
# 9. Variable Assignment and Type (Float)

value = 10.55           # Assign the float value 10.55 to variable 'value'
value                    # Display the value of 'value' in interactive environments → Output: 10.55
type(value)              # Check the data type of 'value' → Output: <class 'float'>
print(type(value))       # Print the data type of 'value' → Output: <class 'float'>

<class 'float'>

In [ ]:
# 10. Variable Assignment and Type (Float)

a = 5.5               # Assign the float value 5.5 to variable 'a'
type(a)               # Check the data type of 'a' → Output: <class 'float'>
print(a)              # Print the value of 'a' → Output: 5.5

5.5

In [ ]:
# 11. Reassigning Variable (Integer)

my_age = 32           # Assign the integer value 32 to variable 'my_age'
print(my_age)         # Print the value of 'my_age' → Output: 32
type(my_age)          # Check the data type of 'my_age' → Output: <class 'int'>

32

int

In [ ]:
# 12. Reassigning Variable (Integer)

x = 20                # Assign the integer value 20 to variable 'x'
print(x)              # Print the value of 'x' → Output: 20
type(x)               # Check the data type of 'x' → Output: <class 'int'>

20

int

In [ ]:
# 13. Reassigning Variable (String)

my_name = "Vishak Raina"   # Assign the string value "Vishak Raina" to variable 'my_name'
type(my_name)               # Check the data type of 'my_name' → Output: <class 'str'>

str

In [ ]:
# 14. String Variable with Single and Double Quotes

a = "What's your name"        # Assign a string with an apostrophe using double quotes to variable 'a'
c = 'My name is Vishak Raina' # Assign a regular string using single quotes to variable 'c'
type(a)                        # Check the data type of 'a' → Output: <class 'str'>
type(c)                        # Check the data type of 'c' → Output: <class 'str'>
print(a)                        # Print the value of 'a' → Output: What's your name
print(c)                        # Print the value of 'c' → Output: My name is Vishak Raina

What's your name
My name is Vishak Raina

In [ ]:
# 15. String Variable with Single and Double Quotes

a = "Hello World"     # Assign a string using double quotes to variable 'a'
b = 'Hello World'     # Assign a string using single quotes to variable 'b'
a                     # Display the value of 'a' → Output: Hello World
b                     # Display the value of 'b' → Output: Hello World
type(a)               # Check the data type of 'a' → Output: <class 'str'>
type(b)               # Check the data type of 'b' → Output: <class 'str'>

str

In [ ]:
# 16. Reassigning Variable (Integer)

a = 10               # Assign the integer value 10 to variable 'a'
print(a)             # Print the value of 'a' → Output: 10
type(a)              # Check the data type of 'a' → Output: <class 'int'>

10

int

In [ ]:
# 17. Reassigning Variable (Integer)

my_age = 31             # Assign the integer value 31 to variable 'my_age'
print(my_age)           # Print the value of 'my_age' → Output: 31

31

In [ ]:
# 18. Variable Assignment and Type (Float)

float1 = 10.22            # Assign the float value 10.22 to variable 'float1'
print(float1)             # Print the value of 'float1' → Output: 10.22
type(float1)              # Check the data type of 'float1' → Output: <class 'float'>
print(type(float1))       # Print the data type of 'float1' → Output: <class 'float'>

10.22
<class 'float'>

In [ ]:
# 19. Variable Assignment and Type (Float)

score = 89.4               # Assign the float value 89.4 to variable 'score'
score                       # Display the value of 'score' in interactive environments → Output: 89.4
type(score)                 # Check the data type of 'score' → Output: <class 'float'>
print(type(score))          # Print the data type of 'score' → Output: <class 'float'>

<class 'float'>

In [ ]:
# 20. String Variable with Long Text

var = "Hello, welcome to the class, my friend!!!!"  # Assign a long string to variable 'var'
type(var)                                           # Check the data type of 'var' → Output: <class 'str'>

str

In [ ]:
# 21. String Variable with Long Text

string1 = "My name is Vishak, I am 32 years old"  # Assign a long string to variable 'string1'
print(type(string1))                              # Check the data type of 'string1' → Output: <class 'str'>
print(string1)                                    # Print the value of 'string1' → Output: My name is Vishak, I am 32 years old

<class 'str'>
My name is Vishak, I am 32 years old

In [ ]:
# 22. Reassigning Variable (Integer)

var = 10              # Assign the integer value 10 to variable 'var'
type(var)             # Check the data type of 'var' → Output: <class 'int'>

int

In [ ]:
# 23. String Variable and Printing

var = "Hi, How are you doing"   # Assign the string "Hi, How are you doing" to variable 'var'
print(var)                      # Print the value of 'var' → Output: Hi, How are you doing
type(var)                        # Check the data type of 'var' → Output: <class 'str'>

Hi, How are you doing

str

In [ ]:
# 24. Type Casting (Float to Integer)

f1 = 10.23              # Assign the float value 10.23 to variable 'f1'
i1 = int(f1)             # Convert the float 'f1' to an integer → 10 (decimal part truncated)
print(i1)               # Print the integer value → Output: 10
type(i1)                # Check the data type of 'i1' → Output: <class 'int'>
type(f1)                # Check the data type of 'f1' → Output: <class 'float'>

10

float

In [ ]:
# 25. Rounding a Float

a = 89.50                # Assign the float value 89.50 to variable 'a'
round(a, 0)              # Round 'a' to 0 decimal places → Output: 90.0 (still a float)

round(10.89, None)       # Round 10.89 with ndigits=None → Output: 11
                          # When ndigits=None, Python rounds to the nearest integer and returns an int

11

In [ ]:
# 26. Rounding and Type Casting

a = 89.5               # Assign the float value 89.5 to variable 'a'
b = round(a, 0)        # Round 'a' to 0 decimal places → 90.0 (still a float)
b = int(b)             # Convert the rounded float 'b' to an integer → 90
c = int(a)             # Directly convert the float 'a' to an integer → 89 (truncates decimal)
print(b)               # Print the value of 'b' → Output: 90
print(c)               # Print the value of 'c' → Output: 89

90
89

In [ ]:
# 27. Type Casting (Integer to String)

a = 10              # Assign an integer value 10 to variable 'a'
a = str(a)          # Convert the integer 'a' to a string using the str() function
print(a)            # Print the string value of 'a' → Output: 10
print(type(a))      # Print the data type of 'a' → Output: <class 'str'>

10
<class 'str'>

In [ ]:
# 28. Invalid Type Casting (String to Integer)

a = "hello"               # Assign a string value "hello" to variable 'a'
b = int(a)                # Try to convert the string 'a' to an integer using int()
                          # This will cause an error because "hello" is not a numeric string
                          # Raises: ValueError: invalid literal for int() with base 10: 'hello'

ValueError: invalid literal for int() with base 10: 'hello'

In [ ]:
# 29. Type Casting (Numeric String to Integer)

a = "5"              # Assign a numeric string value "5" to variable 'a'
b = int(a)           # Convert the string 'a' to an integer using the int() function
print(b)             # Print the integer value of 'b' → Output: 5

In [ ]:
# 30. Type Casting (Numeric String to Integer via Float)

a = "5.5"                # Assign a numeric string value "5.5" to variable 'a'
b = int(float(a))        # First, convert the string 'a' to a float using float(a)
                         # Then convert that float to an integer using int()
                         # Note: int() truncates the decimal part, it does NOT round
print(b)                  # Print the integer value of 'b' → Output: 5

In [ ]:
# 31. Type Casting (Numeric String to Float)

a = "5.5"              # Assign a numeric string value "5.5" to variable 'a'
b = float(a)           # Convert the string 'a' to a float using the float() function
print(b)               # Print the float value of 'b' → Output: 5.5

5

In [ ]:
# 32. Type Casting (Integer to Float)

a = 5                  # Assign an integer value 5 to variable 'a'
a = float(a)           # Convert the integer 'a' to a float using the float() function
print(type(a))         # Print the data type of 'a' → Output: <class 'float'>
print(a)               # Print the float value of 'a' → Output: 5.0

5.5

In [ ]:
# 33. Type Casting (Numeric String to Integer)

a = '5'                # Assign a numeric string value '5' to variable 'a'
a = int(a)             # Convert the string 'a' to an integer using the int() function
print(type(a))         # Print the data type of 'a' → Output: <class 'int'>
print(a)               # Print the integer value of 'a' → Output: 5

5.0
<class 'float'>

In [ ]:
# 34. Float Variable Type Check

a = 10.5              # Assign a float value 10.5 to variable 'a'
print(type(a))        # Print the data type of 'a' → Output: <class 'float'>

<class 'float'>

In [ ]:
# 35. String Variable Type Check

a = '10.5'            # Assign a string value '10.5' to variable 'a'
print(type(a))        # Print the data type of 'a' → Output: <class 'str'>

<class 'float'>

In [ ]:
# 36. String Variable with Quotes

a = "10.5"            # Assign a string value "10.5" (using double quotes) to variable 'a'
type(a)                # Check the data type of 'a' → Output: <class 'str'>

<class 'str'>

In [ ]:
# 37. String Variable Printing and Type Check

a = '10.5'            # Assign a string value '10.5' to variable 'a'
print(a)              # Print the value of 'a' → Output: 10.5
print(type(a))        # Print the data type of 'a' → Output: <class 'str'>

str

In [ ]:
# 38. Boolean String vs Boolean Type

a = 'True'             # Assign the string value 'True' (in quotes) to variable 'a'
print(type(a))         # Print the data type of 'a' → Output: <class 'str'>
print(a)               # Print the value of 'a' → Output: True (as text, not boolean)

a = True               # Assign the boolean value True (without quotes) to variable 'a'
print(type(a))         # Print the data type of 'a' → Output: <class 'bool'>
print(a)               # Print the value of 'a' → Output: True (as a boolean)

<class 'str'>

In [ ]:
# 39. Boolean Examples

bool_var = "True"             # Assign the string "True" to variable 'bool_var'
print(bool_var)               # Print the value → Output: True (as text)
print(type(bool_var))         # Print the data type → Output: <class 'str'>

bool_var = True               # Assign the boolean value True to 'bool_var'
print(bool_var)               # Print the value → Output: True (as a boolean)
print(type(bool_var))         # Print the data type → Output: <class 'bool'>

True
<class 'str'>
True
<class 'bool'>

In [ ]:
# 40. Invalid Variable Name (Starting with Number)

5a = 10           # ❌ Invalid variable name: variable names cannot start with a number
                  # Raises: SyntaxError: invalid syntax

True
<class 'str'>
True
<class 'bool'>

In [ ]:
# 41. Valid Variable Name

a = 10             # Assign the integer value 10 to a valid variable name 'a'

In [ ]:
# 42. Valid Variable Name with Number

a5 = 10            # Assign the integer value 10 to variable 'a5' (numbers allowed after letters)
a5                 # Access the value of 'a5' → Output: 10

In [ ]:
# 43. Invalid Variable Name (Starting with Number)

10a = 10          # ❌ Invalid variable name: variable names cannot start with a number
                  # Raises: SyntaxError: invalid syntax

10

In [ ]:
# 44. Case Sensitivity in Variables

a = 10            # Assign integer 10 to variable 'a' (lowercase)
A = 15            # Assign integer 15 to variable 'A' (uppercase)
a                 # Access the value of 'a' → Output: 10
A                 # Access the value of 'A' → Output: 15

# Note: Python variables are case-sensitive, so 'a' and 'A' are treated as different variables

15

In [ ]:
# 45. Case Sensitivity in Variables (Different Example)

name = 2               # Assign integer 2 to variable 'name' (lowercase)
Name = 4               # Assign integer 4 to variable 'Name' (uppercase N)
print(name)            # Print the value of 'name' → Output: 2
print(Name)            # Print the value of 'Name' → Output: 4
print(NAME)            # ❌ NAME is not defined (all uppercase), raises NameError

# Note: Python variables are case-sensitive: 'name', 'Name', and 'NAME' are all different

20

In [ ]:
# 46. Variable Assignment (Integer)

var = 10             # Assign the integer value 10 to variable 'var'
type(var)            # Check the data type of 'var' → Output: <class 'int'>

int

In [ ]:
# 47. Variable Assignment (Float)

float_var = 10.1        # Assign the float value 10.1 to variable 'float_var'
type(float_var)         # Check the data type of 'float_var' → Output: <class 'float'>

<class 'int'>

In [ ]:
# 48. String Variable and Printing

string1 = 'hello'        # Assign the string value 'hello' to variable 'string1'
print(string1)           # Print the value of 'string1' → Output: hello (without quotes)
string1                  # Display the value of 'string1' in an interactive environment → Output: 'hello' (with quotes)

In [ ]:
# 49. String Variable with Numbers and Text

string2 = "hello 123 world"    # Assign a string containing both text and numbers to variable 'string2'
print(string2)                 # Print the value of 'string2' → Output: hello 123 world

hello 123 world

In [ ]:
# 50. Invalid Variable Name (Starting with Number)

1new_var = 10           # ❌ Invalid variable name: variable names cannot start with a number
                        # Raises: SyntaxError: invalid syntax

SyntaxError: invalid decimal literal (3542994221.py, line 3)

In [ ]:
# 51. Valid Variable Name

new_var = 10             # Assign the integer value 10 to a valid variable name 'new_var'
print(new_var)           # Print the value of 'new_var' → Output: 10

In [ ]:
# 52. Addition with Variables

a = 4                # Assign integer value 4 to variable 'a'
b = 5                # Assign integer value 5 to variable 'b'
c = a + b            # Add the values of 'a' and 'b', and store the result in 'c'
print(c)             # Print the value of 'c' → Output: 9

In [ ]:
# 53. Addition with Different Values

a = 51               # Assign integer value 51 to variable 'a'
b = 10               # Assign integer value 10 to variable 'b'
c = a + b            # Add the values of 'a' and 'b', and store the result in 'c'
print(c)             # Print the value of 'c' → Output: 61

11

In [ ]:
# 54. Function Definition and Call

def sum_two_numbers(a, b):   # Define a function named 'sum_two_numbers' that takes two parameters: 'a' and 'b'
    c = a + b                # Add the two parameters and store the result in variable 'c'
    return c                 # Return the value of 'c' to the caller

sum_two_numbers(115, 30)     # Call the function with arguments 115 and 30 → Output: 145

61

In [ ]:
# 55. Function Call (Different Function Name)

def sum_fun(a, b):      # Define a function named 'sum_fun' that takes two parameters: 'a' and 'b'
    c = a + b           # Add the two parameters and store the result in variable 'c'
    return c            # Return the sum stored in 'c'

sum_fun(5, 6)           # Call the function with arguments 5 and 6 → Output: 11

12

In [ ]:
# 56. Function Call (Another Example)

def func_sum(a, b):      # Define a function named 'func_sum' that takes two parameters: 'a' and 'b'
    c = a + b            # Add the two parameters and store the result in variable 'c'
    return c             # Return the sum stored in 'c'

func_sum(4, 5)           # Call the function with arguments 4 and 5 → Output: 9
func_sum(14, 55)         # Call the function with arguments 14 and 55 → Output: 69

69

In [ ]:
# 57. Invalid Variable Name (Starting with Number)

1name = 5            # ❌ Invalid variable name: variable names cannot start with a number
                     # Raises: SyntaxError: invalid syntax

SyntaxError: invalid decimal literal (2867542467.py, line 3)

In [ ]:
# 58. Variable Assignment and Type Check

a = 10               # Assign the integer value 10 to variable 'a'
type(a)              # Check the data type of 'a' → Output: <class 'int'>

In [ ]:
# 59. Variable Assignment (Float)

a = 10.1             # Assign the float value 10.1 to variable 'a'
type(a)              # Check the data type of 'a' → Output: <class 'float'>

int

In [ ]:
# 60. String Variable and Printing

welcome_string = "Welcome to the Python course"   # Assign a string to the variable 'welcome_string'
print(welcome_string)                             # Print the value of 'welcome_string' → Output: Welcome to the Python course
type(welcome_string)                              # Check the data type of 'welcome_string' → Output: <class 'str'>

In [ ]:
# 61. Addition with Variables

a = 10              # Assign integer value 10 to variable 'a'
b = 5               # Assign integer value 5 to variable 'b'
c = a + b           # Add 'a' and 'b' and store the result in 'c'
print(c)            # Print the value of 'c' → Output: 15

In [ ]:
# 62. Function Definition

def sum_function(a, b):   # Define a function named 'sum_function' with two parameters: 'a' and 'b'
    c = a + b             # Add the two parameters and store the result in variable 'c'
    return c              # Return the sum stored in 'c'

sum_function(5, 6)        # Call the function with arguments 5 and 6 → Output: 11

In [ ]:
# 63. Boolean String Variable

boolean_var = 'True'       # Assign the string value 'True' to variable 'boolean_var'
type(boolean_var)          # Check the data type of 'boolean_var' → Output: <class 'str'>

str

In [ ]:
# 64. Boolean Variable

boolean_var = True        # Assign the boolean value True to variable 'boolean_var'
type(boolean_var)         # Check the data type of 'boolean_var' → Output: <class 'bool'>

bool

In [ ]:
# 65. Multiple Variable Assignments

name = "Vishak Raina"   # Assign string value "Vishak Raina" to variable 'name'
age = 31                     # Assign integer value 31 to variable 'age'
gender = 'male'              # Assign string value 'male' to variable 'gender'
address = 'hong kong'        # Assign string value 'hong kong' to variable 'address'
type(age)                    # Check the data type of 'age' → Output: <class 'int'>

In [ ]:
# 66. Type Casting (String to Float to Integer)

a = '5.5'              # Assign a numeric string value '5.5' to variable 'a'
a = float(a)            # Convert the string 'a' to a float → 5.5
a                       # Display the float value → Output: 5.5
a = int(a)              # Convert the float 'a' to an integer (truncates decimal) → 5
type(a)                 # Check the data type of 'a' → Output: <class 'int'>
a                       # Display the integer value → Output: 5

5